---
Language: Cpp
BasedOnStyle: Google
UseTab: Always
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: false

...
